/* url fonts  */
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

button {
    font-family: "Lexend", sans-serif;
}

input,
label,
textarea {
    font-family: "Lexend", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", sans-serif;
    /* background: #F9F9F9FF; */
    color: rgba(42, 42, 42, 1)
}

/* components */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 16px 90px;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    transition: all .3s linear;
}


.section_title {
    font-size: 70px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -3px;
    color: rgba(187, 10, 7, 1);
}

.section_title.top_sm {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(42, 42, 42, 1);
}

.wrapper {
    overflow: hidden;
}

.modal {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px 20px 20px;
    z-index: 6;
    background-color: #fff;
}

.modal .modal_close {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal h6 {
    color: #000;
    text-shadow: 0 0 0 rgba(2, 2, 2, .23);
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal input {
    padding: 10px;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.6);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.modal input:focus {
    outline: none;
}

.modal form button {
    margin-top: 10px;
    cursor: pointer;
    line-height: 18px;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border: none;
    color: #fff;
    background: rgb(0, 0, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.modal_bg {
    background: rgba(27, 27, 27, 0.9);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* header */
.header {
    z-index: 11;
}

header .header_action {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header .container {
    padding: 0 10px;
    position: relative;
}

/* header top */
.header_top {
    padding: 14px 0;
    background: linear-gradient(90deg, rgb(0, 0, 0), #5e5e5e);

}

.header_top .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
}

.top_text {
    color: rgba(255, 255, 255, 1);
}

.top_text_thin {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    padding-left: 16px;
}

/* header content */
.header_info .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header info */
.header_content_right {
    margin-top: 16px;
}

.item_lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 40px;
}

.item_lists .info_item {
    display: flex;
    flex-direction: column;
    gap: 2px 0;
}

.item_lists .info_item .title_header_action {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.39px;
    text-align: left;

}

.item_lists .info_item .title_header_thin {
    font-family: Lexend;
    font-size: 13px;
    font-weight: 300;
    line-height: 18.01px;
    text-align: left;
    color: rgba(87, 87, 90, 1);
}

.info_item .title_header_thin .link_phone {
    color: rgba(87, 87, 90, 1);
}

.title_header_thin img {
    display: none;
}

.info_item.social_icons {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 0 10px;
}

.social_icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 100%);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.social_icons a:hover {
    transform: scale(1.1);
}

/* hamburger style */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px 0;
    width: 24px;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    transition: all .3s linear;
}

.hamburger span:first-child {
    height: 2.1px;
}

/* navbar */
.navbar {
    margin-top: 25px;
}

.navbar .navlink_items {
    display: flex;
    gap: 0 85px;
    align-items: center;

}

.menu_item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 10px 0;
    color: rgba(42, 42, 42, 1);
    transition: all .3s linear;
    display: flex;
    flex: 1;
}

.menu_item a:hover {
    color: rgba(187, 10, 7, 1);
}

.menu_item:last-child a {
    padding: 10px 99px;
    background: rgba(187, 10, 7, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.menu_item .sub_menu {
    top: 132px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0;
    position: absolute;
    background: #e6e6e6;
    height: 0;
    padding: 0px 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s linear;
}

.menu_item .sub_menu.active {
    opacity: 1;
    padding: 10px;
    height: auto;
    overflow: initial;

}

.menu_item .sub_menu_item {
    opacity: 0.5;
    width: 155px;
    flex: 0 0 auto;
}

.menu_item .sub_menu_item:hover {
    opacity: 1;
}

.menu_item .sub_menu_item a {
    font-size: 14px;
    border-left: 1px solid #c5c5c5;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
}

.menu_item .sub_menu_item:first-child a {
    border-left: 0;
}

.menu_item .sub_menu_item:last-child {
    border-left: 0;
}

.menu_item .sub_menu_item a img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.menu_item .sub_menu_item a:hover {
    background: rgb(255, 255, 255);
}

.main {
    /* margin-top: 228px; */
    margin-top: 50px;
}

/* hero */
.hero .hero_content {
    display: flex;
    justify-content: space-between;

}

.hero_img_content {
    position: relative;
    width: 100%;
}

.hero_img_big {
    width: 100%;
}

.hero_img_big img {
    width: 100%;
    object-fit: contain;
}

.hero_img_content,
.hero_info {
    width: calc(50% - 15px);
}

.hero_img_content .animation_img {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.animation_img img {
    object-fit: contain;
}

/* firs imgages  */
.animation_img:first-child {
    top: 0;
    z-index: -1;
}

.animation_img:last-child {
    bottom: -40px;
}

.animation_img:first-child img:first-child {
    width: 100px;
    animation: animateImg 2s infinite alternate;

}

.animation_img:first-child img:last-child {
    width: 203px;
    animation: animateImg 2s infinite alternate-reverse;
}

/* last img */
.animation_img:last-child img:first-child {
    width: 170px;
    animation: animateImg 2s infinite alternate-reverse;
}

.animation_img:last-child img:last-child {
    width: 250px;
    animation: animateImg 2s infinite alternate;


}

/* hero info */
.hero_info .hero_title .title_head {
    width: 100px;
    height: 10px;
    background: rgba(187, 10, 7, 1);
}

.hero_info .section_title.top_sm {
    margin-top: 25px;
}

.hero_description {
    width: 76%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    color: rgba(87, 87, 90, 1);
    margin-top: 20px;
}

.hero_work_check {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 0;
    margin-top: 39px;

}

.hero_work_check li {
    width: 50%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0 13px;

}

.hero_work_check li.mobile_show {
    display: none;
}

.hero_work_check .btn_green {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    background: rgb(187, 10, 7);
    box-shadow: 0px 5px 45px 0px rgba(0, 0, 0, 0.1);
}

/* servises */
.servises {
    margin-top: 134px;
}

.servises .servises_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}

.servises_menu_item {
    width: calc(100% / 4);
    padding: 14px;
    /* background: rgba(255, 255, 255, 1); */
    border-left: 1px solid #00000010;
    transition: all .3s linear;
}

.servises_menu_item:hover {
    box-shadow: 0 0 20px #00000033;
    transform: scale(1.001);
}

.servises_menu_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.servises_menu_item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* servise_card */
.servise_card {
    margin-top: 90px;
}

.card_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_items .card_item {
    width: calc(33% - 15px);
    /* padding: 10px; */
    cursor: pointer;

}

.card_item .card_body {
    padding: 25px;
}

.card_items .card_item:hover {
    background: #ffffff;
    box-shadow: 0 0 10px #0f0f0f36
}

.card_items .card_item:hover .card_btn {
    background: #BB0A07;
    color: #fff;
}

.card_head {
    width: 100%;
}

.card_head img {
    width: 100%;
    object-fit: contain;

}

.card_title {
    color: rgba(187, 10, 7, 1);
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

.card_description {
    margin-top: 14px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: center;
    color: rgba(87, 87, 90, 1);
}

.card_btn {
    transition: .3s ease;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(42, 42, 42, 1);
}

.order_target {
    margin-top: 35px;
    background: rgba(187, 10, 7, 1);
    padding: 85px 0;
}

.order_target .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38.25px;
    text-align: left;

}

.order_title {
    font-size: 28px;
    color: #ffffff;
}

.order_target .button {

    transition: all .3s linear;
}

.order_target .button:hover {
    background: #ffffff;
    color: rgba(187, 10, 7, 1);
}

/* advantages */
.advantages {
    margin-top: 50px;
}

.advantages_top {
    display: flex;
    justify-content: space-between;
}

.advantages_title {
    width: 80%;
}

.advantages_top .button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(187, 10, 7, 1);

}

.advantages_content {
    padding: 0 20px;
    display: flex;
}

.advantages_top {
    display: flex;
    align-items: flex-start;
}

.advantages_title {
    width: 70%;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.5px;
    text-align: left;
    flex: 0 0 auto;
}

.advantages_contents {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 54px auto 0;
}

.advantages_item {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    color: rgba(87, 87, 90, 1);
    display: flex;
    flex-direction: column;
    width: calc(50% - 33px);
}

.text_advantages {
    gap: 20px 0;
}

.check_advantages {
    gap: 8px 0;
    margin-top: 20px;
}

.check_advantages li {
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    gap: 0 12px;
}

/* advantages_bottom */
.advantages_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    margin-top: 15px;
}

.advantages_bottom_title {
    color: rgba(42, 42, 42, 1);
}

.advantages_link {
    display: flex;
    gap: 0 15px;
}

.advantages_link a {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: center;
    color: rgba(187, 10, 7, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.advantages_bottom {
    padding-bottom: 80px;
}

.advantages_gallery {
    border-top: 1px solid rgba(216, 216, 216, 1);
    display: flex;
    padding: 67px 0;
}

/* gallery */

.galler_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(42, 42, 42, 1);
    width: 25%;
}

.galler_contents {
    width: 75%;
    position: relative;
    user-select: none;
}

.galler_contents::after {
    width: 200px;
    height: 70px;
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    content: '';
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    z-index: 2;

}

.galler_contents::before {
    position: absolute;
    right: -2px;
    top: 0;
    z-index: 2;
    width: 200px;
    height: 70px;
    display: block;
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.slide_img {
    width: 100%;
}

.slide_img img {
    /* object-fit: contain; */
    width: 100%;
}

/* form section */
.forms {
    padding: 80px 0;
    background: linear-gradient(180deg, #E9E9E9 0%, #FFFFFF 100%);

}

.forms .forms_content {
    display: flex;
}

.forms_info {
    background: rgba(255, 255, 255, 1);
    width: 50%;
    padding: 50px 75px 60px;
}

.forms_component {
    width: 50%;
}

.form_info_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.5px;
    color: rgba(42, 42, 42, 1);
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}

.form_info_title::after {
    content: '';
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 1px;
    background: rgba(255, 0, 0, 1);

}

.forms_description {
    margin-top: 39px;
    color: rgba(87, 87, 90, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
}

.form_description_title {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.form_description_title span {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;

}

.description_text2 {
    margin-top: 20px;
}

.forms_component {
    background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 100%);
    padding: 58px 75px 68px;

}

.form_inputs {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

.form_inputs input,
select {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(42, 42, 42, 1);


    width: 100%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    height: 50px;
    padding: 16px 21px;
    border: none;
    outline: none;
    color: rgb(42, 42, 42);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

.form_inputs .select {
    position: relative;
}

.form_inputs .select img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 20px;
}

.form_inputs select {
    position: relative;
    -webkit-appearance: none;
}

.form_button {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background: rgba(42, 42, 42, 1);
    width: 100%;
    outline: none;
    border: none;
    height: 48px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;

    margin-top: 25px;
}

/* animations */
@keyframes animateImg {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}

/* media query */

/* section sevice */
.service .container{
    display: flex;
    justify-content: space-between;
}
.service .service_left span {
    color: rgb(42, 42, 42);
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.72px;
  }
  .service .service_left h4 {
    color: rgb(187, 10, 7);
    font-size: 70px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -3px;
  }
  .service .service_left p {
    margin-top: 14px;
    max-width: 500px;
    color: rgb(87, 87, 90);
    font-size: 17px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
  }
  .service .service_right{
    display: flex;
    gap: 30px;
  }
  .service .genuine {
    border-top: 5px solid rgb(187, 187, 190);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    transition: .3s ease;
  }

  .service .genuine:hover {
    border-top: 5px solid rgb(187, 10, 7);
  }

  .service .genuine p {
    color: rgb(42, 42, 42);
    font-size: 17px;
    font-weight: 500;
    line-height: 25.6px;
  }

  .service .genuine_in {
    padding: 40px 33px 35px 33px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
/* section sevice */

/* section texts */
.texts{
    margin-top: 145px;
}
.texts .container{
    max-width: 1120px;
}
.texts .text_title{
    width: 100%;
}
.texts .text_title h5 {
    color: rgb(42, 42, 42);
    font-size: 24px;
    font-weight: 700;
    line-height: 25.6px;
}
.texts .container p{
    color: rgb(87, 87, 90);
    padding-top: 22px;
    max-width: 1117px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
}
.title-2{
    padding-top: 40px;
}
.title-3 h5{
    color: rgb(42, 42, 42);
    font-size: 20px !important;
    font-weight: 600;
    line-height: 25.6px;
    padding-top: 39px;
    width: 100%;
}
.texts ul li{
    list-style: disc !important;
    color: rgb(87, 87, 90);
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    margin-left: 40px;
}
.texts ul{
    padding-top: 20px;
    width: 100%;
}
.texts p .text_span{
    color: red;
}
/* section texts */

/* section contact */
    .contact{
    padding-top: 136px;
    }

    .contact_left {
        max-width: 385px;
    }

    .contact .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
   .contact label input{
    padding: 16px 21px;
    /* width: 385px; */
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.06);
   }
   .contact label input:focus{
    outline: none;
   }
   .contact label input::placeholder{
    color: rgb(42, 42, 42);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
   }
   .contact .two_input{
    /* padding: 25px 0; */
    display: flex;
    gap: 25px;
   }
   .contact .two_input input{
    padding: 16px 21px;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.6);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
   }
   .contact .two_input input:focus{
    outline: none;
   }
   .contact .two_input input::placeholder{
    color: rgb(42, 42, 42);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
   }
   .contact label select{
    width: 100%;
    background: rgba(0, 0, 0, 0.06);
    color: rgb(42, 42, 42);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    -webkit-appearance: none;
   } 
   .contact form .select{
    position: relative;
    width: 100%;
   }
   .contact form .select img{
    position: absolute;
    right: 22px;
    top: 50%;
    bottom: 50%;
   }
   .contact .contact_title h5{
    color: rgb(42, 42, 42);
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
   }
   .contact .contact_title p{
    padding-top: 10px;
    color: rgba(2, 1, 1, 0.63);
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    /* max-width: 347px; */
    text-align: center;
   }
   .contact .contact_title{
    width: 100%;
    text-align: center;
   }
   .contact form{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
   }

   .contact form textarea{
    padding: 16px 21px;
    width: 100%;
    height: 85px;
    border: none;
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.6);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
   }
   .contact form textarea:focus{
    outline: none;
   }
   .contact form button{
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 15px 165px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background: rgb(42, 42, 42);
   }
   .contact iframe{
    width: 547px;
    height: 688px;
   }
/* section contact */

.footer_top_line {
    border-top: 1px solid rgb(187, 187, 190);
    height: 60px;
    margin-top: 60px;
}

footer {
    position: relative;
    padding: 60px 0 0 0;
}


.footer_bg {
    background: linear-gradient(0.00deg, rgba(255, 255, 255, 0),rgb(0, 0, 0) 100%);
    opacity: 0.05;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;

}

footer .footer_top{
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

footer h6{
    font-family: Lexend;
    font-size: 21px;
    font-weight: 800;
    line-height: 25.6px;
    text-align: left;
    color: #BB0A07;
    margin-bottom: 22px;
}

footer .nav_link li a{
    font-family: Lexend;
    font-size: 15px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    color: #2A2A2A;
}

footer .nav_link li{
    margin-bottom: 10px;
}

footer .nav {
    display: flex;
    gap: 55px;
}

footer .nav_link li a:hover{
    color:#BB0A07;
}

footer .nav_link span{
    font-family: Lexend;
    font-size: 15px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    color: #57575A;

}

footer .nav_link{
    margin-bottom: 60px;
}

footer .footer_servises .footer_text{
    max-width: 190px;
}

footer .footer_servises .nav_link{
    margin-bottom: 30px;
}

footer .line{
    max-width: 1280px;
    height: 1px;
    background: #0000001A;
}


footer .footer_bottom .garage span{
    font-family: Lexend;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    
}
footer .footer_bottom .garage {
    display: flex;
    align-items: center;
    padding: 55px 15px;
    justify-content: space-between;
}

footer .footer_bottom  .footer_btn_top{
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .footer_bottom .footer_btn_top span{
    position: absolute;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: .3s ease;
    border-radius: 23px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

footer .footer_bottom .footer_btn_top img{
    position: relative;
    z-index: 2;
}

footer .footer_bottom .footer_btn_top:hover span{
    transform: scale(1.2);
}

/* laptop */
@media (max-width:1200px) {

    /* navlinks */
    .navbar .navlink_items {
        gap: 0 45px;
    }

    /* hero */
    .animation_img:first-child img:first-child {
        width: 90px;
    }

    .animation_img:first-child img:last-child {
        width: 183px;
    }

    /* last img */
    .animation_img:last-child img:first-child {
        width: 155px;
    }

    .animation_img:last-child img:last-child {
        width: 235px;
    }
}

/* tablet */
@media (max-width:1024px) {

    /* header top */
    .container {
        max-width: 390px;
    }

    .top_text {
        font-size: 14px;
        text-align: center;
    }

    .top_text_thin {
        border-left: 0;
        padding-left: 0;
    }

    /* header content */
    .header_content {
        padding: 20px 0;
    }

    .header_action {
        display: none;
    }

    .info_item:first-child {
        display: none;
    }

    .logo img {
        width: 85px;
    }

    /* header info */
    .header_content_right {
        margin-top: 0;
    }

    .info_item.social_icons {
        display: none;
    }

    .sub_menu.active,
    .sub-menu {
        display: none;
    }

    .title_header_thin span {
        display: none;
    }

    .title_header_thin img {
        display: inline-block;
    }

    .info_item .title_header_thin .link_phone {
        font-size: 16px;
        font-weight: 300;
        line-height: 25.6px;
        color: rgba(0, 0, 0, 1);
    }

    .navbar {
        padding: 20px 10px 0;
        background: #ffffff;
        width: 100%;
        position: absolute;
        height: calc(100vh - 188px);
        overflow: auto;
        right: -200%;
        top: 79px;
        margin-top: 0;
        transition: all .3s linear;
    }

    .navbar.active {
        right: 0;
    }

    .navbar .navlink_items {
        align-items: flex-start;
        flex-direction: column;
    }

    .menu_item {
        width: 100%;
    }

    .navbar .navlink_items a {
        border-top: 1px solid #2b2a2a27;
        display: block;
    }

    .menu_item:last-child a {
        padding: 10px 0;
        text-align: left;
        color: rgba(42, 42, 42, 1);
        background: none;
        display: block;
        border-bottom: 1px solid #2b2a2a27;

    }

    .hamburger {
        cursor: pointer;
        display: flex;
        position: relative;
    }

    .hamburger.active span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        flex: 0 0 auto;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        display: none;
    }

    /* hero */
    .hero_content {
        flex-direction: column-reverse;
    }

    .hero .section_title {
        font-size: 42px;
        font-weight: 600;
        line-height: 46.2px;
    }

    .hero .section_title.top_sm {
        font-size: 24px;
        line-height: 24px;
        text-align: left;

    }

    .hero_work_check .mob_full {
        width: 100%;
    }

    .hero_work_check li.mobile_show {
        display: flex;
    }

    .hero_description {
        width: 100%;
    }

    .hero_img_content,
    .hero_info {
        width: 100%;
    }

    .hero_img_content {
        margin-top: 25px;
    }

    .animation_img:last-child {
        bottom: 0;
    }

    .animation_img:first-child img:first-child {
        width: 50px;
    }

    .animation_img:first-child img:last-child {
        width: 123px;
    }

    /* last img */
    .animation_img:last-child img:first-child {
        width: 90px;
    }

    .animation_img:last-child img:last-child {
        width: 100px;
    }

    /* servise */
    .servises {
        margin-top: 25px;
    }

    .servises_menu_item {
        width: 50%;
        border-left: 0;
    }

    .servises_menu_item:nth-child(even) {
        border-left: 1px solid rgba(0, 0, 0, 0.041);
    }

    .servises_menu_item:hover {
        box-shadow: 0 0 20px #2020202f;
        transform: scale(1.001)
    }

    /* servise card */
    .card_items {
        gap: 24px 0;
    }

    .card_items .card_item {
        width: 100%;
    }

    /* advantages */
    .advantages_contents {
        flex-direction: column;
    }

    .advantages_top {
        flex-direction: column;
        gap: 20px 0;
        align-items: center;
    }

    .advantages_top .advantages_title {
        text-align: center;
        width: 100%;
        font-size: 30px;
        line-height: 41.25px;

    }

    .advantages_top .button {
        width: 80%;
        padding: 16px;
        text-align: center;
    }

    .advantages_item {
        width: 100%;
    }

    .check_advantages {
        padding: 0 40px;
    }

    .advantages_bottom_title {
        display: none;
    }

    .advantages_link a {
        font-size: 12px;
    }

    .order_target {
        padding: 80px 0;
    }

    .order_target .container {
        align-items: center;
        gap: 20px 0;
        flex-direction: column;
    }

    .order_target .order_title {
        text-align: center;
    }

    .order_target .button {
        height: 55px;
        display: flex;
        justify-content: center;
        width: 80%;
        line-height: normal;
        text-align: center;
        padding: 16px 16px;
    }

    /* advantages gallery */

    .advantages_gallery {
        flex-direction: column;
        display: flex;
        gap: 30px 0;
    }

    .galler_title {
        width: 100%;
    }

    .galler_contents {
        width: 100%;
    }

    .galler_contents::before {
        width: 100px;
    }

    .galler_contents::after {
        width: 100px;
    }

    /* forms   */
    .forms{
        padding-top: 0;
        background:#ffffff;
    }
    .form_description_title{
        gap: 0 4px;
    }
    .forms .forms_content {
        flex-direction: column;
    }

    .forms_info {
        padding: 35px 37px;
        width: 100%;
    }
    .forms_component {
        width: 100%;
        padding: 35px 37px;
    }
    .form_info_title {
        font-size: 30px;
    }
    .forms_description {
        font-size: 12px;
    }

    /* service */
    .service .container{
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 390px;
    }
    .service .service_right{
        display: flex;
        flex-direction: column;
    }
    .service .service_right .genuine{
        width: 100%;
    }
    .service .service_left h4{
        font-size: 36px;
    }
    .service .service_left p{
        color: rgb(87, 87, 90);
        font-size: 17px;
        font-weight: 300;
        line-height: 25.6px;
    }
    .service .service_left span{
        font-size: 21px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.72px;
    }
    .texts .title-3{
        padding-left: 0;
        font-size: 20px;
    }
    .texts .text_title h5{
        margin-left: 0;
        font-size: 24px;
    }
    .texts ul li{
        margin-left: 50px;
    }

    .contact {
        padding-top: 50px;
    }
    .contact .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .contact .contact_left {
        max-width: 100%;
    }
    .contact form .two_input{
        display: flex;
        flex-direction: column;
    }
    .contact form .two_input input{
        width: 100%;
    }
    .contact form input{
        width: 100%;
    }
    .contact form textarea{
        width: 100%;
    }
    .contact .select{
        width: 245px;
    }  
    .contact iframe {
        width: 100%;
    }

    .contact form button {
        padding: 15px;
        width: 100%;
    }

    .texts .container {
        max-width: 390px;
    }

    footer .footer_top{
        flex-direction: column;
    }

    footer .footer_link{
        flex-direction: column;
        padding: 0 ;
    }

    footer .footer_servises .footer_text{
        max-width: 307px;
    }

    footer .footer_bottom .garage a{
        display: none;
    }

    footer .footer_bottom .garage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 55px 0;
    }

}

@media (max-width: 430px) {
    .modal {
        width: 90%;
    }
}