/* url fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lexend", sans-serif;
    background: rgba(255, 255, 255, 1);
    color: rgba(42, 42, 42, 1)
}

/* components */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.section_title {
    font-size: 70px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -3px;
    color: rgba(187, 10, 7, 1);
}

.section_title.top_sm {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(42, 42, 42, 1);
}

/* header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 11;
}

.header .container {
    padding: 0 10px;
    position: relative;
}

/* header top */
.header_top {
    padding: 14px 0;
    background: linear-gradient(90deg, rgb(0, 0, 0), #5e5e5e);

}

.header_top .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
}

.top_text {
    color: rgba(255, 255, 255, 1);
}

.top_text_thin {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    padding-left: 16px;
}

/* header content */
.header_info .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header info */
.header_content_right {
    margin-top: 16px;
}

.item_lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 40px;
}

.item_lists .info_item {
    display: flex;
    flex-direction: column;
    gap: 2px 0;
}

.item_lists .info_item .title_header_action {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.39px;
    text-align: left;

}

.item_lists .info_item .title_header_thin {
    font-family: Lexend;
    font-size: 13px;
    font-weight: 300;
    line-height: 18.01px;
    text-align: left;
    color: rgba(87, 87, 90, 1);
}

.info_item .title_header_thin .link_phone {
    color: rgba(87, 87, 90, 1);
}

.title_header_thin img {
    display: none;
}

.info_item.social_icons {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 0 10px;
}

.social_icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 100%);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.social_icons a:hover {
    transform: scale(1.1);
}

/* hamburger style */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px 0;
    width: 24px;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    transition: all .3s linear;
}

.hamburger span:first-child {
    height: 2.1px;
}

/* navbar */
.navbar {
    margin-top: 25px;
}

.navbar .navlink_items {
    display: flex;
    gap: 0 85px;
    align-items: center;

}

.menu_item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 10px 0;
    color: rgba(42, 42, 42, 1);
    transition: all .3s linear;
    display: flex;
    flex: 1;
}

.menu_item a:hover {
    color: rgba(187, 10, 7, 1);
}

.menu_item:last-child a {
    padding: 10px 99px;
    background: rgba(187, 10, 7, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.menu_item .sub_menu {
    top: 132px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0;
    position: absolute;
    background: #e6e6e6;
    height: 0;
    padding: 0px 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s linear;
}

.menu_item .sub_menu.active {
    opacity: 1;
    padding: 10px;
    height: auto;
    overflow: initial;

}

.menu_item .sub_menu_item {
    opacity: 0.5;
    width: 155px;
    flex: 0 0 auto;
}

.menu_item .sub_menu_item:hover {
    opacity: 1;
}

.menu_item .sub_menu_item a {
    font-size: 14px;
    border-left: 1px solid #c5c5c5;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
}

.menu_item .sub_menu_item:first-child a {
    border-left: 0;
}

.menu_item .sub_menu_item:last-child {
    border-left: 0;
}

.menu_item .sub_menu_item a img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.menu_item .sub_menu_item a:hover {
    background: rgb(255, 255, 255);
}

.main {
    margin-top: 228px;
}

/* hero */
.hero .hero_content {
    display: flex;
    justify-content: space-between;

}

.hero_img_content {
    position: relative;
    width: 100%;
}

.hero_img_big {
    width: 100%;
}

.hero_img_big img {
    width: 100%;
    object-fit: contain;
}

.hero_img_content,
.hero_info {
    width: calc(50% - 15px);
}

.hero_img_content .animation_img {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.animation_img img {
    object-fit: contain;
}

/* firs imgages  */
.animation_img:first-child {
    top: 0;
    z-index: -1;
}

.animation_img:last-child {
    bottom: -40px;
}

.animation_img:first-child img:first-child {
    width: 100px;
    animation: animateImg 2s infinite alternate;

}

.animation_img:first-child img:last-child {
    width: 203px;
    animation: animateImg 2s infinite alternate-reverse;
}

/* last img */
.animation_img:last-child img:first-child {
    width: 170px;
    animation: animateImg 2s infinite alternate-reverse;
}

.animation_img:last-child img:last-child {
    width: 250px;
    animation: animateImg 2s infinite alternate;


}

/* hero info */
.hero_info .hero_title .title_head {
    width: 100px;
    height: 10px;
    background: rgba(187, 10, 7, 1);
}

.hero_info .section_title.top_sm {
    margin-top: 25px;
}

.hero_description {
    width: 76%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    color: rgba(87, 87, 90, 1);
    margin-top: 20px;
}

.hero_work_check {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 0;
    margin-top: 39px;

}

.hero_work_check li {
    width: 50%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0 13px;

}

.hero_work_check li.mobile_show {
    display: none;
}

.hero_work_check .btn_green {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    background: rgba(16, 206, 30, 1);
    box-shadow: 0px 5px 45px 0px rgba(0, 0, 0, 0.1);
}

/* servises */
.servises {
    margin-top: 134px;
}

.servises .servises_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}

.servises_menu_item {
    width: 157px;
    padding: 14px;
    background: rgba(255, 255, 255, 1);
    border-left: 1px solid #00000010;
    transition: all .3s linear;
}

.servises_menu_item:hover {
    box-shadow: 0 0 20px #00000033;
    transform: scale(1.001);
}

.servises_menu_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: center;
    color: rgba(42, 42, 42, 1);
}

.servises_menu_item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* animations */
@keyframes animateImg {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}

/* media query */

/* laptop */
@media (max-width:1200px) {

    /* navlinks */
    .navbar .navlink_items {
        gap: 0 45px;
    }

    /* hero */
    .animation_img:first-child img:first-child {
        width: 90px;
    }

    .animation_img:first-child img:last-child {
        width: 183px;
    }

    /* last img */
    .animation_img:last-child img:first-child {
        width: 155px;
    }

    .animation_img:last-child img:last-child {
        width: 235px;
    }
}

/* tablet */
@media (max-width:1024px) {

    /* header top */
    .container {
        max-width: 390px;
        min-width: 320px;
    }

    .top_text {
        font-size: 14px;
        text-align: center;
    }

    .top_text_thin {
        border-left: 0;
        padding-left: 0;
    }

    /* header content */
    .header_content {
        padding: 20px 0;
    }

    .header_action {
        display: none;
    }

    .info_item:first-child {
        display: none;
    }

    .logo img {
        width: 85px;
    }

    /* header info */
    .header_content_right {
        margin-top: 0;
    }

    .info_item.social_icons {
        display: none;
    }

    .sub_menu.active,
    .sub-menu {
        display: none;
    }

    .title_header_thin span {
        display: none;
    }

    .title_header_thin img {
        display: inline-block;
    }

    .info_item .title_header_thin .link_phone {
        font-size: 16px;
        font-weight: 300;
        line-height: 25.6px;
        color: rgba(0, 0, 0, 1);
    }

    .navbar {
        padding: 20px 10px 0;
        background: #ffffff;
        width: 100%;
        position: absolute;
        height: calc(100vh - 188px);
        overflow: auto;
        right: -200%;
        top: 81px;
        margin-top: 0;
        transition: all .3s linear;
    }

    .navbar.active {
        right: 0;
    }

    .navbar .navlink_items {
        align-items: flex-start;
        flex-direction: column;
    }

    .menu_item {
        width: 100%;
    }

    .navbar .navlink_items a {
        border-top: 1px solid #2b2a2a27;
        display: block;
    }

    .menu_item:last-child a {
        padding: 10px 0;
        text-align: left;
        color: rgba(42, 42, 42, 1);
        background: none;
        display: block;
        border-bottom: 1px solid #2b2a2a27;

    }

    .hamburger {
        cursor: pointer;
        display: flex;
        position: relative;
    }

    .hamburger.active span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        flex: 0 0 auto;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        display: none;
    }

    /* hero */
    .hero_content {
        flex-direction: column-reverse;
    }

    .hero .section_title {
        font-size: 42px;
        font-weight: 600;
        line-height: 46.2px;
    }

    .hero .section_title.top_sm {
        font-size: 24px;
        line-height: 24px;
        text-align: left;

    }

    .hero_work_check .mob_full {
        width: 100%;
    }

    .hero_work_check li.mobile_show {
        display: flex;
    }

    .hero_description {
        width: 100%;
    }

    .hero_img_content,
    .hero_info {
        width: 100%;
    }

    .hero_img_content {
        margin-top: 25px;
    }

    .animation_img:last-child {
        bottom: 0;
    }

    .animation_img:first-child img:first-child {
        width: 50px;
    }

    .animation_img:first-child img:last-child {
        width: 123px;
    }

    /* last img */
    .animation_img:last-child img:first-child {
        width: 90px;
    }

    .animation_img:last-child img:last-child {
        width: 100px;
    }

    /* servise */
    .servises {
        margin-top: 25px;
    }

    .servises_menu_item {
        width: 50%;
        border-left: 0;
    }

    .servises_menu_item:nth-child(even) {
        border-left: 1px solid rgba(0, 0, 0, 0.041);
    }

    .servises_menu_item:hover {
        box-shadow: 0 0 20px #2020202f;
        transform: scale(1.001)
    }

}